body {
    margin: 0px;
    font-family: Inter, sans-serif;

    overflow: auto;
}



.container {
    .topheader {

        width: 100%;
        height: 40px;
        background-color: rgb(8, 27, 75);
        display: flex;
        color: rgb(192, 194, 211);
        display: flex;
        align-items: center;

        .paragraph {
            padding-left: 14%;

            p {
                font-size: 14px !important;
            }
        }

        .unorderlist {
            display: flex;
            flex-direction: row;
            list-style: none;
            padding-left: 380px;
            gap: 10px;
            align-items: center;
            align-items: center;
        }
    }

    .belowheader {

        height: 72px;
        width: 99.9%;

        display: flex;
        flex-direction: row;
        align-items: center;


        .logoimg {
            padding-left: 240px;

        }

        .MenuSection {


            .menu {
                display: flex;
                flex-direction: row;


                .li {
                    list-style: none;
                    display: flex;
                    gap: 5px;
                    color: rgb(77, 91, 124);
                    padding: 8px 11px;
                    border-radius: 10px;


                    &:hover {

                        color: blue;
                        background-color: rgb(230, 230, 230);
                    }
                }
            }


        }

        .buttonSection {
            display: flex;
            flex-direction: row;
            gap: 10px;

            align-items: center;

            .login {

                line-height: 24px;
                border-radius: 8px;
                font-size: 16px;
                padding: 8px 18px;
                background-color: white;
                border: 0px solid;
                outline: none;
                color: rgb(8, 11, 45);
                margin-left: 430px;
                cursor: pointer;

                &:hover {
                    color: blue;
                    background-color: rgb(230, 230, 230);
                }
            }

            .signup {
                cursor: pointer;
                background-color: rgb(0, 105, 255);
                outline: none;
                border: 0px solid;
                line-height: 24px;
                border-radius: 8px;
                font-size: 16px;

                padding: 8px 20px;
                color: rgb(255, 255, 255);
            }
        }
    }

    .bluebox {
        background-color: rgb(0, 105, 255);
        height: 650px;
        position: relative;


        .topleftimg {
            position: absolute;
            top: 100px;
        }

        .toprightimg {

            position: absolute;
            right: 0px;
            top: 100px;

        }

        .bottomleftimg {
            position: absolute;
            height: 100px;
            width: 400px;

        }

        .bottomrightimg {
            position: absolute;
            right: 0px;
            bottom: -5px;
            display: flex;


            .innerfirst {
                position: absolute;

                bottom: 0px;
                left: -265px;
            }

            .innersecondimg {
                img {
                    height: 115px;

                }



            }




        }

        .innerText {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 50px;
            color: rgb(255, 255, 255);


            span {
                font-size: 6rem;
                font-weight: bold;

                font-family: "JetBrains Mono", monospace;
            }

            p {
                font-size: 17px;
            }

            .buttons {
                margin-top: 40px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;

                .firstbtn {
                    border: 0px solid;
                    height: 50px;
                    width: 180px;
                    border-radius: 10px;
                    font-size: 16px;
                    font-weight: bold;
                    color: aliceblue;
                    background-color: #0d0da7;
                    cursor: pointer;

                    &:hover {
                        background-color: #13136c;
                    }
                }

                .secondbtn {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 210px;
                    height: 50px;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: bold;
                    justify-content: center;
                    border-radius: 10px;
                    border: 0px solid;
                    background-color: white;
                    outline: none;
                    color: black;
                    gap: 10px;

                    .text {
                        display: flex;
                        flex-direction: row;
                    }

                    .img {
                        display: flex;

                        justify-content: center;
                        align-items: center;
                        height: 50px;



                        img {
                            border-radius: 25px;
                        }
                    }


                }

                .thirdbtn {
                    border: 0px solid;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 230px;
                    border-radius: 10px;
                    font-size: 16px;
                    font-weight: bold;
                    color: black;
                    cursor: pointer;
                    background-color: white;

                    .fa {
                        padding-right: 10px;
                        font-size: 25px;
                    }
                }
            }
        }


    }

    .customerSection {
        width: 100%;
        height: 100%;


        .counterbox {
            display: flex;
            justify-content: center;
            gap: 100px;

            .custemerfortwo {
                display: flex;
                flex-direction: row;
                gap: 100px;
            }

            .custumer {
                display: flex;
                flex-direction: column;




                h1 {
                    margin-top: 100px;
                    margin-bottom: 0px;
                    font-size: 3rem;
                    color: rgb(0, 105, 255);
                }

                h3 {
                    margin: 0px;
                    color: rgb(77, 91, 124);
                }
            }
        }

        .complexcitybox {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                font-size: 2.5rem;
                color: rgb(3, 27, 78);
                margin-top: 100px;

            }

            p {
                color: rgb(77, 91, 124);
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0px;

            }

            span {
                word-spacing: 15px;
                color: rgb(0, 105, 255);
                font-weight: bold;
                font-family: "JetBrains Mono", monospace;
                cursor: pointer;

                &:hover {
                    i {
                        padding-left: 5px;
                        cursor: pointer;
                    }
                }
            }
        }

        .Customersbox {
            position: relative;

            .firstimg {
                width: 100%;
                height: 64px;



                // transform: rotate(3.142rad);




            }

            #secondimg {
                margin-top: 150px;
                width: 100%;
                height: 87px;
                background-size: auto;

                outline: none;
                border: 0px solid;


            }

            .Animatedsection {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                overflow: hidden;

                .offbluebox {
                    width: 100%;
                    height: 500px;
                    background-color: rgba(200, 223, 255, 0.6);
                    margin-top: 87px;


                    .headingHone {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        h1 {
                            font-size: 2.5rem;
                            color: rgb(3, 27, 78);

                        }
                    }

                    .firstanimatedbox {
                        display: flex;
                        gap: 20px;
                        flex-direction: row;
                        box-sizing: border-box;
                        width: 2404px;



                        .animationbox {

                            animation: kia 31s;
                            gap: 20px;
                            animation-iteration-count: infinite;

                            height: 104px;
                            position: relative;
                            display: flex;
                            flex-direction: row;
                            position: absolute;



                            .movedimg {

                                display: flex;
                                flex-direction: row !important;
                                border-radius: 10px;
                                box-sizing: border-box;
                                width: 192px !important;

                                height: 104px;
                                background-size: 95%;


                                background-color: white;
                                background-position: center;
                                background-repeat: no-repeat;

                                img {

                                    // background-size: cover;
                                    // background-repeat: no-repeat;
                                    // background-position: center;
                                    // // width: 100%;
                                    // // height: 100%;
                                    list-style: none;
                                    outline: none;
                                }
                            }


                        }

                        @keyframes kia {
                            from {
                                right: 0px;
                            }

                            to {
                                right: 100%;
                            }
                        }


                    }

                    .secondanimatedbox {
                        margin-top: 50px;
                        display: flex;
                        gap: 20px;
                        flex-direction: row;
                        box-sizing: border-box;
                        width: 2404px;

                        .secondanimationbox {

                            height: 104px;
                            position: relative;
                            display: flex;
                            flex-direction: row;
                            animation: rightside 31s;
                            gap: 20px;
                            animation-iteration-count: infinite;
                            margin-top: 100px;

                            .movedimg {
                                display: flex;
                                flex-direction: row !important;
                                border-radius: 10px;
                                box-sizing: border-box;
                                width: 192px !important;

                                height: 104px;
                                background-size: 95%;


                                background-color: white;
                                background-position: center;
                                background-repeat: no-repeat;

                            }
                        }

                        @keyframes rightside {
                            from {
                                left: 0px;
                            }

                            to {
                                left: 100%;
                            }
                        }

                        // img {

                        //     border-radius: 14px;
                        //     margin-left: 30px;
                        //     border: 0px solid;
                        // }

                    }
                }


            }

            .pricesSection {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 800px;
                margin-top: 600px;

                .saverbox {
                    width: 50%;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;



                    h1 {
                        font-size: 2.6rem;
                        color: rgb(3, 27, 78);
                    }

                    span {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        color: rgb(0, 105, 255);
                        font-family: "JetBrains Mono", monospace;

                        i {
                            padding-left: 20px;
                        }
                    }
                }

                .costSection {
                    width: 50%;

                    position: relative;


                    .content {



                        .firstimg {
                            width: 293px;
                            height: 370px;
                            position: absolute;
                            top: 150px;
                        }

                        .secondimg {
                            width: 156px;
                            height: 158px;
                            position: absolute;
                            top: 70%;
                            left: 5%;

                        }

                        .thirdimg {
                            height: 459px;
                            width: 358px;
                            float: right;

                            position: absolute;
                            top: 22%;
                            left: 55%;

                        }

                        .machines {
                            width: 528px;
                            height: 773px;
                            // box-shadow: 0px 0px 3px #7171ac;
                            box-shadow: 0px 3px 8px gainsboro;
                            background-color: white;
                            display: flex;
                            margin: auto;
                            margin-top: 23px;
                            border-radius: 24px;
                            flex-direction: column;
                            position: absolute;
                            top: 24px;
                            left: 150px;

                            .littlebluebox {
                                width: 100%;
                                color: rgb(214, 220, 234);
                                background-color: rgb(0, 105, 255);
                                height: 300px;

                                display: flex;
                                border-top-left-radius: 24px;
                                border-top-right-radius: 24px;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;

                                h1 {
                                    margin-top: 0px;
                                    margin-bottom: 0px;
                                }

                                .cpubtns {

                                    display: flex;
                                    gap: 20px;

                                    .cpubutn {
                                        padding: 12px 24px;

                                        border-radius: 10px;
                                        outline: none;
                                        border: 0px solid;
                                        background-color: rgb(0, 105, 255);
                                        color: white;
                                        font-size: 16px;

                                        &:hover {
                                            background-color: rgb(76, 126, 251);
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }

                            .prices {
                                .memory {
                                    padding: 10px;
                                    background-color: rgb(239, 242, 251);
                                    height: 40px;
                                    margin: 40px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 10px;
                                    color: rgb(143, 143, 143);
                                }

                                .memoryprice {
                                    display: flex;
                                    align-items: center;
                                    flex-direction: row;

                                    margin: 30px;
                                    outline: none;


                                    border-top: 0px solid;
                                    border-left: 0px solid;
                                    border-right: 0px solid;

                                    border-bottom: dotted;
                                    border-color: rgb(169, 179, 202);
                                    justify-content: space-between;

                                    .textimg {
                                        display: flex;
                                        align-items: center;
                                        gap: 15px;
                                    }
                                }

                                .borderd {
                                    border: 0px solid !important;
                                }
                            }
                        }
                    }
                }
            }

            .journeySection {



                height: 450px;

                display: flex;
                flex-direction: row;
                justify-content: center;
                color: white;


                .bluejourney {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 61%;

                    height: 250px;
                    border-radius: 24px;
                    background-color: rgb(10, 10, 136);
                    margin-top: 150px;

                    .journey {


                        display: flex;
                        flex-grow: 1;


                        flex-direction: column;
                        text-align: right;
                        justify-content: center;
                        text-align: start;

                        padding-left: 50px;

                        span {
                            i {
                                padding-left: 20px;
                                font-family: "JetBrains Mono", monospace;
                            }
                        }
                    }

                    .imgsplace {
                        display: flex;
                        flex-grow: 1;




                        height: 250px;
                        border-top-right-radius: 24px;
                        border-bottom-right-radius: 24px;

                        img {
                            padding-top: 67px;
                            padding-left: 165px;
                        }

                    }
                }



            }

            .globalSection {
                display: flex;
                justify-content: center;
                align-items: center;

                .community {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;

                    h1 {
                        font-size: 2.5rem;
                        color: rgb(3, 27, 78);
                    }

                    p {
                        color: rgb(91, 105, 135);
                    }

                    .p {
                        margin-top: 0px;
                    }

                    span {
                        color: #0069ff;
                        font-weight: bold;
                        display: flex;
                        gap: 10px;
                    }
                }
            }

            .Languages {

                margin-top: 120px;
                display: flex;
                flex-direction: row;

                justify-content: center;
                gap: 20px;



                .languageKinds {

                    display: flex;
                    flex-direction: column;



                    gap: 20px;
                    // height: 10%;


                    .language {

                        display: flex;

                        flex-direction: column;



                        img {
                            margin-top: 20px;
                            border-top-right-radius: 24px;
                            border-top-left-radius: 24px;

                            &:hover {
                                cursor: pointer;
                                width: 301px;
                                height: 151px;
                            }
                        }

                        .aboutinfo {
                            padding: 20px;
                            line-height: 28px;

                            display: flex;
                            flex-direction: column;
                            flex-grow: 1;

                            box-shadow: 0px 0px 2px rgb(161, 168, 183);
                            border-bottom-right-radius: 24px;
                            border-bottom-left-radius: 24px;


                            span {
                                color: rgb(138, 150, 181);
                            }
                        }
                    }
                }
            }

            .buildingtodaybox {

                position: relative;

                .blueimg {

                    width: 100%;
                    height: 58px;


                    // background-color: rgb(123, 222, 255);
                }

                .todaybox {
                    width: 100%;
                    height: 400px;
                    background-color: rgb(123, 222, 255);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    h1 {
                        font-size: 2.5rem;
                        color: rgb(3, 27, 78);
                        margin-bottom: 0px;
                    }

                    h4 {
                        color: rgb(77, 91, 124);
                    }

                    button {
                        padding: 12px 20px;
                        border-radius: 8px;
                        outline: none;
                        border: 0px solid;
                        font-size: 17px;
                        color: rgb(8, 27, 75);
                        cursor: pointer;
                        font-weight: bold;

                    }
                }

                .highblueimg {
                    width: 100%;
                    height: 58px;
                    position: absolute;
                    top: 430px;
                }
            }

            .footer {
                width: 100%;
                height: 950px;
                background-color: rgb(0, 105, 255);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-top: 100px;

                .companyproducts {

                    width: 60%;
                    border: 1px solid;
                    height: 650px;
                    // border-top: 0px;
                    // border-left: 0px;
                    // border-right: 0px;
                    border: 0px solid;
                    // border-bottom: 3px solid;
                    display: flex;
                    // border-bottom: dashed;
                    // border-color: white;
                    flex-direction: row;

                    .productinfo {
                        display: flex;
                        flex-direction: row;
                        width: 44%;
                        gap: 50px;

                        .company {
                            // padding: 10%;
                            color: rgb(227, 232, 244);
                        }


                    }

                    .secondproductinfo {
                        display: flex;
                        flex-direction: row;
                        width: 44%;
                        gap: 50px;

                        .company {
                            // padding: 10%;
                            color: rgb(227, 232, 244);
                        }



                    }

                    .company {
                        // width: 22% !important;


                        // margin-top: 50px;
                        color: rgb(227, 232, 244);
                    }


                }

                .dashedimg {
                    width: 60%;

                    height: 10px;

                    .backgroundimg {

                        background-position: center;
                        height: 5px;
                        background-size: 1%;


                        img {
                            height: 10px;
                        }
                    }
                }

                .belowfooter {
                    width: 60%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 50px;

                    .minifotter {
                        display: flex;
                        flex-direction: row;
                        width: 50%;

                        gap: 20px;
                        align-items: center;

                        h3 {
                            color: rgb(227, 232, 244);
                        }

                        .imgege {
                            width: 40px;
                            height: 40px;


                            .img {
                                background-position: center;
                                height: 100%;
                                width: 100%;
                                background-size: cover;
                                background-repeat: no-repeat;
                            }
                        }
                    }

                    .weblogos {
                        width: 50%;
                        display: flex;
                        gap: 20px;
                        justify-content: flex-end;

                        .icons {
                            width: 40px;
                            height: 40px;
                            background-color: #3d87ee;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            i {
                                color: rgb(227, 232, 244);
                            }
                        }
                    }
                }

                .belowimages {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 85px;
                }
            }
        }


    }
}



@media only screen and (max-width: 800px) {
    .container {

        .topheader {
            height: 0px;
            border: 0px solid;
            background-color: white;
            display: none;

            .paragraph {
                display: none;
            }
        }

        .belowheader {
            width: 100%;
            display: flex;
            flex-direction: column !important;
            padding-left: 0px;
            align-items: flex-start;

            .logoimg {
                padding: 20px;
                display: flex;
                align-items: flex-start;

            }

            .MenuSection {
                height: 100%;
                background-color: white;
                width: 100%;
                padding-left: 0px;

                .menu {
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    padding: 20px;

                    li {
                        border: 1px solid;
                        border-radius: 0px !important;
                        border-top: 0px solid;
                        border-left: 0px solid;
                        border-right: 0px solid;
                        padding: 22px !important;
                        color: black !important;
                        font-weight: bold;
                        border-color: rgb(195, 199, 202);

                    }


                }
            }

            .buttonSection {
                position: absolute;
                top: 480px;
                display: flex;
                flex-direction: column;
                align-items: center !important;
                justify-content: center;
                width: 100%;

                .login {

                    position: absolute;
                    top: 49px;
                    margin-left: 0px;
                    width: 100%;
                    display: flex !important;
                    flex-direction: row !important;
                    align-items: center;
                    justify-content: center;
                }

                .signup {

                    width: 100%;

                    // display: flex !important;
                    // flex-direction: row !important;
                    // align-items: center;
                }
            }
        }

        .bluebox {
            margin-top: 600px;


            .innerText {
                span {
                    font-size: 3rem;
                }

                p {
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }

                .buttons {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    margin-top: 570px;
                    width: 90%;


                    .firstbtn,
                    .secondbtn,
                    .thirdbtn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100% !important;
                    }
                }
            }

            .topleftimg {
                display: none !important;
            }

            .topleftimg {
                img {
                    display: none !important;
                }
            }

            .toprightimg {
                img {
                    display: none !important;
                }


            }

            .bottomrightimg {
                display: none !important;

                .innerfirst {
                    display: none;
                }
            }

            .bottomleftimg {
                display: none;
            }
        }

        .customerSection {

            height: 100%;


            .Customersbox {
                width: 100%;
                background-color: rgb(249, 250, 254);

                .pricesSection {
                    display: flex;
                    flex-direction: column;


                    .saverbox {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                    }

                    .costSection {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .content {
                            .machines {
                                left: 0px;
                                top: 0px;
                                width: 100%;
                            }

                            .firstimg {
                                display: none;
                            }

                            .secondimg {
                                display: none;
                            }

                            .thirdimg {
                                display: none;
                            }
                        }
                    }
                }

                .globalSection {
                    display: flex !important;
                    justify-content: center !important;
                    align-items: center !important;

                    .community {
                        display: flex;
                        justify-content: center;
                        align-items: center;



                        p {

                            padding: 10px;

                        }

                        ;
                    }
                }

                .Languages {
                    display: flex;
                    flex-direction: column;

                    .languageKinds {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        .language {
                            width: 100%;
                            display: flex;
                            flex-direction: column;

                            &:hover {
                                width: 100%;

                                img {
                                    width: 100%;
                                }
                            }

                            img {
                                width: 100%;
                            }

                            // .aboutinfo {
                            //     width: 100%;
                            // }
                        }
                    }
                }

                .journeySection {

                    margin-top: 200px;
                    width: 100%;

                    .bluejourney {



                        width: 100%;




                        .journey {
                            width: 63%;
                            border-top-right-radius: 24px;
                            border-bottom-right-radius: 24px;
                        }

                        .imgsplace {
                            display: none;
                            width: 0px;

                            img {
                                display: none;
                            }
                        }

                    }
                }

                .buildingtodaybox {
                    width: 100%;

                    .todaybox {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        //     h1 {
                        //         display: flex;
                        //     }
                    }
                }

                .footer {
                    height: 100%;

                    .companyproducts {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 100%;

                        .productinfo {
                            display: flex;
                            flex-direction: row;

                            padding: 0px;

                            .company {
                                padding: 0px;
                            }
                        }

                        .secondproductinfo {
                            .company {
                                display: none;
                            }

                            // flex-direction: row;
                            // gap: 150px;
                            // padding: 0px;

                            // .company {
                            //     padding: 0px;
                            // }
                        }



                        .comp {
                            display: none;
                        }
                    }

                }

                .belowfooter {

                    display: flex;
                    flex-direction: column !important;
                    justify-content: center;
                    align-items: center !important;
                    width: 100% !important;

                    .minifotter {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center !important;
                        width: 100% !important;
                        margin-bottom: 20px;

                        .imgege {
                            padding-left: 25%;
                        }

                        h3 {
                            width: 100%;


                        }
                    }
                }

                .belowimages {
                    img {
                        display: none;
                    }
                }
            }

            .counterbox {


                .custemerfortwo {
                    display: flex;
                    flex-direction: column;
                    gap: 0px;
                }
            }

            .complexcitybox {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 50px;

                h1 {
                    font-size: 2rem;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@media only screen and (max-width: 414px) {
    .container {



        .bluebox {
            width: 100%;
            height: 700px;
            border: 1px solid;
            box-sizing: border-box;

            .innerText {

                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    padding: 20px;



                }
            }
        }

        .customerSection {

            .Customersbox {
                .buildingtodaybox {
                    .todaybox {


                        h1 {
                            padding: 30px;
                        }

                        h4 {
                            padding: 20px;
                        }
                    }
                }

                .journeySection {
                    width: 100%;

                    .bluejourney {

                        width: 100% !important;


                    }
                }
            }



            .counterbox {
                display: flex;
                flex-direction: column;
                gap: 0px;
                padding: 30px;

                .custemerfortwo {
                    display: flex;
                    flex-direction: column;

                    .custumer {
                        h1 {
                            margin-top: 20px;
                        }
                    }
                }
            }

            .complexcitybox {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 50px;
            }

            .pricesSection {
                width: 100%;

                .costSection {
                    .content {
                        width: 100%;

                        .machines {
                            width: 100%;
                            box-shadow: 0px 0px 0px white !important;

                            .littlebluebox {
                                width: 100%;
                                border: 0px solid;
                                outline: none;
                                box-shadow: none;

                                h1 {
                                    font-size: 1.5rem;
                                }

                            }
                        }
                    }
                }

                .saverbox {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        font-size: 2rem !important;
                    }

                    p {
                        padding-left: 50px;
                    }
                }
            }

            .footer {
                height: 100%;


                .companyproducts {
                    height: 100%;


                    .productinfo {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        margin: 0px;
                        padding: 0px;
                        display: flex;
                        justify-content: center;

                        // .company {
                        //     display: flex;
                        //     flex-direction: column;
                        // }

                    }
                }

                .belowfooter {
                    width: 100%;

                    .minifotter {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;

                        .imgege {
                            padding: 10px;
                        }


                    }

                    .weblogos {
                        width: 100% !important;
                        display: flex;
                        gap: 0px;
                        justify-content: center;
                        align-items: center;

                        .icons {
                            display: flex;
                            width: 40px;
                            gap: 0px;

                        }
                    }
                }

                .belowimages {
                    img {
                        display: none;
                    }
                }
            }

            .Languages {
                .languageKinds {
                    .language {



                        .aboutinfo {
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }
}