body {
  margin: 0px;
  font-family: Inter, sans-serif;
  overflow: auto;
}

.container .topheader {
  width: 100%;
  height: 40px;
  background-color: #081b4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #c0c2d3;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .topheader .paragraph {
  padding-left: 14%;
}

.container .topheader .paragraph p {
  font-size: 14px !important;
}

.container .topheader .unorderlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  padding-left: 380px;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.container .belowheader {
  height: 72px;
  width: 99.9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .belowheader .logoimg {
  padding-left: 240px;
}

.container .belowheader .MenuSection .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .belowheader .MenuSection .menu .li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  color: #4d5b7c;
  padding: 8px 11px;
  border-radius: 10px;
}

.container .belowheader .MenuSection .menu .li:hover {
  color: blue;
  background-color: #e6e6e6;
}

.container .belowheader .buttonSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .belowheader .buttonSection .login {
  line-height: 24px;
  border-radius: 8px;
  font-size: 16px;
  padding: 8px 18px;
  background-color: white;
  border: 0px solid;
  outline: none;
  color: #080b2d;
  margin-left: 430px;
  cursor: pointer;
}

.container .belowheader .buttonSection .login:hover {
  color: blue;
  background-color: #e6e6e6;
}

.container .belowheader .buttonSection .signup {
  cursor: pointer;
  background-color: #0069ff;
  outline: none;
  border: 0px solid;
  line-height: 24px;
  border-radius: 8px;
  font-size: 16px;
  padding: 8px 20px;
  color: white;
}

.container .bluebox {
  background-color: #0069ff;
  height: 650px;
  position: relative;
}

.container .bluebox .topleftimg {
  position: absolute;
  top: 100px;
}

.container .bluebox .toprightimg {
  position: absolute;
  right: 0px;
  top: 100px;
}

.container .bluebox .bottomleftimg {
  position: absolute;
  height: 100px;
  width: 400px;
}

.container .bluebox .bottomrightimg {
  position: absolute;
  right: 0px;
  bottom: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .bluebox .bottomrightimg .innerfirst {
  position: absolute;
  bottom: 0px;
  left: -265px;
}

.container .bluebox .bottomrightimg .innersecondimg img {
  height: 115px;
}

.container .bluebox .innerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  color: white;
}

.container .bluebox .innerText span {
  font-size: 6rem;
  font-weight: bold;
  font-family: "JetBrains Mono", monospace;
}

.container .bluebox .innerText p {
  font-size: 17px;
}

.container .bluebox .innerText .buttons {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.container .bluebox .innerText .buttons .firstbtn {
  border: 0px solid;
  height: 50px;
  width: 180px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: aliceblue;
  background-color: #0d0da7;
  cursor: pointer;
}

.container .bluebox .innerText .buttons .firstbtn:hover {
  background-color: #13136c;
}

.container .bluebox .innerText .buttons .secondbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  border: 0px solid;
  background-color: white;
  outline: none;
  color: black;
  gap: 10px;
}

.container .bluebox .innerText .buttons .secondbtn .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .bluebox .innerText .buttons .secondbtn .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.container .bluebox .innerText .buttons .secondbtn .img img {
  border-radius: 25px;
}

.container .bluebox .innerText .buttons .thirdbtn {
  border: 0px solid;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 230px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  background-color: white;
}

.container .bluebox .innerText .buttons .thirdbtn .fa {
  padding-right: 10px;
  font-size: 25px;
}

.container .customerSection {
  width: 100%;
  height: 100%;
}

.container .customerSection .counterbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
}

.container .customerSection .counterbox .custemerfortwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 100px;
}

.container .customerSection .counterbox .custumer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .customerSection .counterbox .custumer h1 {
  margin-top: 100px;
  margin-bottom: 0px;
  font-size: 3rem;
  color: #0069ff;
}

.container .customerSection .counterbox .custumer h3 {
  margin: 0px;
  color: #4d5b7c;
}

.container .customerSection .complexcitybox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .customerSection .complexcitybox h1 {
  font-size: 2.5rem;
  color: #031b4e;
  margin-top: 100px;
}

.container .customerSection .complexcitybox p {
  color: #4d5b7c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
}

.container .customerSection .complexcitybox span {
  word-spacing: 15px;
  color: #0069ff;
  font-weight: bold;
  font-family: "JetBrains Mono", monospace;
  cursor: pointer;
}

.container .customerSection .complexcitybox span:hover i {
  padding-left: 5px;
  cursor: pointer;
}

.container .customerSection .Customersbox {
  position: relative;
}

.container .customerSection .Customersbox .firstimg {
  width: 100%;
  height: 64px;
}

.container .customerSection .Customersbox #secondimg {
  margin-top: 150px;
  width: 100%;
  height: 87px;
  background-size: auto;
  outline: none;
  border: 0px solid;
}

.container .customerSection .Customersbox .Animatedsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.container .customerSection .Customersbox .Animatedsection .offbluebox {
  width: 100%;
  height: 500px;
  background-color: rgba(200, 223, 255, 0.6);
  margin-top: 87px;
}

.container .customerSection .Customersbox .Animatedsection .offbluebox .headingHone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .customerSection .Customersbox .Animatedsection .offbluebox .headingHone h1 {
  font-size: 2.5rem;
  color: #031b4e;
}

.container .customerSection .Customersbox .Animatedsection .offbluebox .firstanimatedbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 2404px;
}

.container .customerSection .Customersbox .Animatedsection .offbluebox .firstanimatedbox .animationbox {
  -webkit-animation: kia 31s;
          animation: kia 31s;
  gap: 20px;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  height: 104px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
}

.container .customerSection .Customersbox .Animatedsection .offbluebox .firstanimatedbox .animationbox .movedimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 192px !important;
  height: 104px;
  background-size: 95%;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
}

.container .customerSection .Customersbox .Animatedsection .offbluebox .firstanimatedbox .animationbox .movedimg img {
  list-style: none;
  outline: none;
}

@-webkit-keyframes kia {
  from {
    right: 0px;
  }
  to {
    right: 100%;
  }
}

@keyframes kia {
  from {
    right: 0px;
  }
  to {
    right: 100%;
  }
}

.container .customerSection .Customersbox .Animatedsection .offbluebox .secondanimatedbox {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 2404px;
}

.container .customerSection .Customersbox .Animatedsection .offbluebox .secondanimatedbox .secondanimationbox {
  height: 104px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-animation: rightside 31s;
          animation: rightside 31s;
  gap: 20px;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-top: 100px;
}

.container .customerSection .Customersbox .Animatedsection .offbluebox .secondanimatedbox .secondanimationbox .movedimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 192px !important;
  height: 104px;
  background-size: 95%;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
}

@-webkit-keyframes rightside {
  from {
    left: 0px;
  }
  to {
    left: 100%;
  }
}

@keyframes rightside {
  from {
    left: 0px;
  }
  to {
    left: 100%;
  }
}

.container .customerSection .Customersbox .pricesSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 800px;
  margin-top: 600px;
}

.container .customerSection .Customersbox .pricesSection .saverbox {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .customerSection .Customersbox .pricesSection .saverbox h1 {
  font-size: 2.6rem;
  color: #031b4e;
}

.container .customerSection .Customersbox .pricesSection .saverbox span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #0069ff;
  font-family: "JetBrains Mono", monospace;
}

.container .customerSection .Customersbox .pricesSection .saverbox span i {
  padding-left: 20px;
}

.container .customerSection .Customersbox .pricesSection .costSection {
  width: 50%;
  position: relative;
}

.container .customerSection .Customersbox .pricesSection .costSection .content .firstimg {
  width: 293px;
  height: 370px;
  position: absolute;
  top: 150px;
}

.container .customerSection .Customersbox .pricesSection .costSection .content .secondimg {
  width: 156px;
  height: 158px;
  position: absolute;
  top: 70%;
  left: 5%;
}

.container .customerSection .Customersbox .pricesSection .costSection .content .thirdimg {
  height: 459px;
  width: 358px;
  float: right;
  position: absolute;
  top: 22%;
  left: 55%;
}

.container .customerSection .Customersbox .pricesSection .costSection .content .machines {
  width: 528px;
  height: 773px;
  -webkit-box-shadow: 0px 3px 8px gainsboro;
          box-shadow: 0px 3px 8px gainsboro;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 23px;
  border-radius: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 24px;
  left: 150px;
}

.container .customerSection .Customersbox .pricesSection .costSection .content .machines .littlebluebox {
  width: 100%;
  color: #d6dcea;
  background-color: #0069ff;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .customerSection .Customersbox .pricesSection .costSection .content .machines .littlebluebox h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container .customerSection .Customersbox .pricesSection .costSection .content .machines .littlebluebox .cpubtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.container .customerSection .Customersbox .pricesSection .costSection .content .machines .littlebluebox .cpubtns .cpubutn {
  padding: 12px 24px;
  border-radius: 10px;
  outline: none;
  border: 0px solid;
  background-color: #0069ff;
  color: white;
  font-size: 16px;
}

.container .customerSection .Customersbox .pricesSection .costSection .content .machines .littlebluebox .cpubtns .cpubutn:hover {
  background-color: #4c7efb;
  cursor: pointer;
}

.container .customerSection .Customersbox .pricesSection .costSection .content .machines .prices .memory {
  padding: 10px;
  background-color: #eff2fb;
  height: 40px;
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  color: #8f8f8f;
}

.container .customerSection .Customersbox .pricesSection .costSection .content .machines .prices .memoryprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 30px;
  outline: none;
  border-top: 0px solid;
  border-left: 0px solid;
  border-right: 0px solid;
  border-bottom: dotted;
  border-color: #a9b3ca;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .customerSection .Customersbox .pricesSection .costSection .content .machines .prices .memoryprice .textimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.container .customerSection .Customersbox .pricesSection .costSection .content .machines .prices .borderd {
  border: 0px solid !important;
}

.container .customerSection .Customersbox .journeySection {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.container .customerSection .Customersbox .journeySection .bluejourney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 61%;
  height: 250px;
  border-radius: 24px;
  background-color: #0a0a88;
  margin-top: 150px;
}

.container .customerSection .Customersbox .journeySection .bluejourney .journey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
  padding-left: 50px;
}

.container .customerSection .Customersbox .journeySection .bluejourney .journey span i {
  padding-left: 20px;
  font-family: "JetBrains Mono", monospace;
}

.container .customerSection .Customersbox .journeySection .bluejourney .imgsplace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 250px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.container .customerSection .Customersbox .journeySection .bluejourney .imgsplace img {
  padding-top: 67px;
  padding-left: 165px;
}

.container .customerSection .Customersbox .globalSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .customerSection .Customersbox .globalSection .community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .customerSection .Customersbox .globalSection .community h1 {
  font-size: 2.5rem;
  color: #031b4e;
}

.container .customerSection .Customersbox .globalSection .community p {
  color: #5b6987;
}

.container .customerSection .Customersbox .globalSection .community .p {
  margin-top: 0px;
}

.container .customerSection .Customersbox .globalSection .community span {
  color: #0069ff;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.container .customerSection .Customersbox .Languages {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.container .customerSection .Customersbox .Languages .languageKinds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.container .customerSection .Customersbox .Languages .languageKinds .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .customerSection .Customersbox .Languages .languageKinds .language img {
  margin-top: 20px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

.container .customerSection .Customersbox .Languages .languageKinds .language img:hover {
  cursor: pointer;
  width: 301px;
  height: 151px;
}

.container .customerSection .Customersbox .Languages .languageKinds .language .aboutinfo {
  padding: 20px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-shadow: 0px 0px 2px #a1a8b7;
          box-shadow: 0px 0px 2px #a1a8b7;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}

.container .customerSection .Customersbox .Languages .languageKinds .language .aboutinfo span {
  color: #8a96b5;
}

.container .customerSection .Customersbox .buildingtodaybox {
  position: relative;
}

.container .customerSection .Customersbox .buildingtodaybox .blueimg {
  width: 100%;
  height: 58px;
}

.container .customerSection .Customersbox .buildingtodaybox .todaybox {
  width: 100%;
  height: 400px;
  background-color: #7bdeff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .customerSection .Customersbox .buildingtodaybox .todaybox h1 {
  font-size: 2.5rem;
  color: #031b4e;
  margin-bottom: 0px;
}

.container .customerSection .Customersbox .buildingtodaybox .todaybox h4 {
  color: #4d5b7c;
}

.container .customerSection .Customersbox .buildingtodaybox .todaybox button {
  padding: 12px 20px;
  border-radius: 8px;
  outline: none;
  border: 0px solid;
  font-size: 17px;
  color: #081b4b;
  cursor: pointer;
  font-weight: bold;
}

.container .customerSection .Customersbox .buildingtodaybox .highblueimg {
  width: 100%;
  height: 58px;
  position: absolute;
  top: 430px;
}

.container .customerSection .Customersbox .footer {
  width: 100%;
  height: 950px;
  background-color: #0069ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
}

.container .customerSection .Customersbox .footer .companyproducts {
  width: 60%;
  border: 1px solid;
  height: 650px;
  border: 0px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .customerSection .Customersbox .footer .companyproducts .productinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 44%;
  gap: 50px;
}

.container .customerSection .Customersbox .footer .companyproducts .productinfo .company {
  color: #e3e8f4;
}

.container .customerSection .Customersbox .footer .companyproducts .secondproductinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 44%;
  gap: 50px;
}

.container .customerSection .Customersbox .footer .companyproducts .secondproductinfo .company {
  color: #e3e8f4;
}

.container .customerSection .Customersbox .footer .companyproducts .company {
  color: #e3e8f4;
}

.container .customerSection .Customersbox .footer .dashedimg {
  width: 60%;
  height: 10px;
}

.container .customerSection .Customersbox .footer .dashedimg .backgroundimg {
  background-position: center;
  height: 5px;
  background-size: 1%;
}

.container .customerSection .Customersbox .footer .dashedimg .backgroundimg img {
  height: 10px;
}

.container .customerSection .Customersbox .footer .belowfooter {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.container .customerSection .Customersbox .footer .belowfooter .minifotter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .customerSection .Customersbox .footer .belowfooter .minifotter h3 {
  color: #e3e8f4;
}

.container .customerSection .Customersbox .footer .belowfooter .minifotter .imgege {
  width: 40px;
  height: 40px;
}

.container .customerSection .Customersbox .footer .belowfooter .minifotter .imgege .img {
  background-position: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container .customerSection .Customersbox .footer .belowfooter .weblogos {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .customerSection .Customersbox .footer .belowfooter .weblogos .icons {
  width: 40px;
  height: 40px;
  background-color: #3d87ee;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .customerSection .Customersbox .footer .belowfooter .weblogos .icons i {
  color: #e3e8f4;
}

.container .customerSection .Customersbox .footer .belowimages {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 85px;
}

@media only screen and (max-width: 800px) {
  .container .topheader {
    height: 0px;
    border: 0px solid;
    background-color: white;
    display: none;
  }
  .container .topheader .paragraph {
    display: none;
  }
  .container .belowheader {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding-left: 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container .belowheader .logoimg {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container .belowheader .MenuSection {
    height: 100%;
    background-color: white;
    width: 100%;
    padding-left: 0px;
  }
  .container .belowheader .MenuSection .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    padding: 20px;
  }
  .container .belowheader .MenuSection .menu li {
    border: 1px solid;
    border-radius: 0px !important;
    border-top: 0px solid;
    border-left: 0px solid;
    border-right: 0px solid;
    padding: 22px !important;
    color: black !important;
    font-weight: bold;
    border-color: #c3c7ca;
  }
  .container .belowheader .buttonSection {
    position: absolute;
    top: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .container .belowheader .buttonSection .login {
    position: absolute;
    top: 49px;
    margin-left: 0px;
    width: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .belowheader .buttonSection .signup {
    width: 100%;
  }
  .container .bluebox {
    margin-top: 600px;
  }
  .container .bluebox .innerText span {
    font-size: 3rem;
  }
  .container .bluebox .innerText p {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .bluebox .innerText .buttons {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 570px;
    width: 90%;
  }
  .container .bluebox .innerText .buttons .firstbtn,
  .container .bluebox .innerText .buttons .secondbtn,
  .container .bluebox .innerText .buttons .thirdbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100% !important;
  }
  .container .bluebox .topleftimg {
    display: none !important;
  }
  .container .bluebox .topleftimg img {
    display: none !important;
  }
  .container .bluebox .toprightimg img {
    display: none !important;
  }
  .container .bluebox .bottomrightimg {
    display: none !important;
  }
  .container .bluebox .bottomrightimg .innerfirst {
    display: none;
  }
  .container .bluebox .bottomleftimg {
    display: none;
  }
  .container .customerSection {
    height: 100%;
  }
  .container .customerSection .Customersbox {
    width: 100%;
    background-color: #f9fafe;
  }
  .container .customerSection .Customersbox .pricesSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .customerSection .Customersbox .pricesSection .saverbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .container .customerSection .Customersbox .pricesSection .costSection {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .customerSection .Customersbox .pricesSection .costSection .content .machines {
    left: 0px;
    top: 0px;
    width: 100%;
  }
  .container .customerSection .Customersbox .pricesSection .costSection .content .firstimg {
    display: none;
  }
  .container .customerSection .Customersbox .pricesSection .costSection .content .secondimg {
    display: none;
  }
  .container .customerSection .Customersbox .pricesSection .costSection .content .thirdimg {
    display: none;
  }
  .container .customerSection .Customersbox .globalSection {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .container .customerSection .Customersbox .globalSection .community {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .customerSection .Customersbox .globalSection .community p {
    padding: 10px;
  }
  .container .customerSection .Customersbox .Languages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .customerSection .Customersbox .Languages .languageKinds {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .container .customerSection .Customersbox .Languages .languageKinds .language {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .customerSection .Customersbox .Languages .languageKinds .language:hover {
    width: 100%;
  }
  .container .customerSection .Customersbox .Languages .languageKinds .language:hover img {
    width: 100%;
  }
  .container .customerSection .Customersbox .Languages .languageKinds .language img {
    width: 100%;
  }
  .container .customerSection .Customersbox .journeySection {
    margin-top: 200px;
    width: 100%;
  }
  .container .customerSection .Customersbox .journeySection .bluejourney {
    width: 100%;
  }
  .container .customerSection .Customersbox .journeySection .bluejourney .journey {
    width: 63%;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
  .container .customerSection .Customersbox .journeySection .bluejourney .imgsplace {
    display: none;
    width: 0px;
  }
  .container .customerSection .Customersbox .journeySection .bluejourney .imgsplace img {
    display: none;
  }
  .container .customerSection .Customersbox .buildingtodaybox {
    width: 100%;
  }
  .container .customerSection .Customersbox .buildingtodaybox .todaybox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .container .customerSection .Customersbox .footer {
    height: 100%;
  }
  .container .customerSection .Customersbox .footer .companyproducts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .container .customerSection .Customersbox .footer .companyproducts .productinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
  }
  .container .customerSection .Customersbox .footer .companyproducts .productinfo .company {
    padding: 0px;
  }
  .container .customerSection .Customersbox .footer .companyproducts .secondproductinfo .company {
    display: none;
  }
  .container .customerSection .Customersbox .footer .companyproducts .comp {
    display: none;
  }
  .container .customerSection .Customersbox .belowfooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    width: 100% !important;
  }
  .container .customerSection .Customersbox .belowfooter .minifotter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    width: 100% !important;
    margin-bottom: 20px;
  }
  .container .customerSection .Customersbox .belowfooter .minifotter .imgege {
    padding-left: 25%;
  }
  .container .customerSection .Customersbox .belowfooter .minifotter h3 {
    width: 100%;
  }
  .container .customerSection .Customersbox .belowimages img {
    display: none;
  }
  .container .customerSection .counterbox .custemerfortwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
  .container .customerSection .complexcitybox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
  .container .customerSection .complexcitybox h1 {
    font-size: 2rem;
  }
  .container .customerSection .complexcitybox p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 414px) {
  .container .bluebox {
    width: 100%;
    height: 700px;
    border: 1px solid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container .bluebox .innerText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .bluebox .innerText p {
    padding: 20px;
  }
  .container .customerSection .Customersbox .buildingtodaybox .todaybox h1 {
    padding: 30px;
  }
  .container .customerSection .Customersbox .buildingtodaybox .todaybox h4 {
    padding: 20px;
  }
  .container .customerSection .Customersbox .journeySection {
    width: 100%;
  }
  .container .customerSection .Customersbox .journeySection .bluejourney {
    width: 100% !important;
  }
  .container .customerSection .counterbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    padding: 30px;
  }
  .container .customerSection .counterbox .custemerfortwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .customerSection .counterbox .custemerfortwo .custumer h1 {
    margin-top: 20px;
  }
  .container .customerSection .complexcitybox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
  }
  .container .customerSection .pricesSection {
    width: 100%;
  }
  .container .customerSection .pricesSection .costSection .content {
    width: 100%;
  }
  .container .customerSection .pricesSection .costSection .content .machines {
    width: 100%;
    -webkit-box-shadow: 0px 0px 0px white !important;
            box-shadow: 0px 0px 0px white !important;
  }
  .container .customerSection .pricesSection .costSection .content .machines .littlebluebox {
    width: 100%;
    border: 0px solid;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .container .customerSection .pricesSection .costSection .content .machines .littlebluebox h1 {
    font-size: 1.5rem;
  }
  .container .customerSection .pricesSection .saverbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .customerSection .pricesSection .saverbox h1 {
    font-size: 2rem !important;
  }
  .container .customerSection .pricesSection .saverbox p {
    padding-left: 50px;
  }
  .container .customerSection .footer {
    height: 100%;
  }
  .container .customerSection .footer .companyproducts {
    height: 100%;
  }
  .container .customerSection .footer .companyproducts .productinfo {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    padding: 0px;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .customerSection .footer .belowfooter {
    width: 100%;
  }
  .container .customerSection .footer .belowfooter .minifotter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .container .customerSection .footer .belowfooter .minifotter .imgege {
    padding: 10px;
  }
  .container .customerSection .footer .belowfooter .weblogos {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .customerSection .footer .belowfooter .weblogos .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    gap: 0px;
  }
  .container .customerSection .footer .belowimages img {
    display: none;
  }
  .container .customerSection .Languages .languageKinds .language .aboutinfo {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
/*# sourceMappingURL=index.css.map */